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
alx-HLP/
git clone https://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@github.com/Jasiel-Stark8/alx-higher_level_programming.git
git remote set-url origin https://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@github.com/Jasiel-Stark8/alx-low_level_programming.git

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
